.nav-bar{
    position: sticky;
    top: 0;
    background-color: #ff0000;
    z-index: 100;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}