.searChontainer{
    font-size: 30px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.searChontainer input{
    font-size: 30px;
    height: 30px;
    margin-left: 5px;
}