/* .background{
    display: flex;
    flex-direction: column;
    background-image: url('../../img/forest-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
} */