.fighting{
    background-color: #c03028
}

.normal{
    background-color: #a8a878
}

.flying{
    background-color: #a890f0;
}

.poison{
    background-color: #a040a0
}

.ground{
    background-color: #e0c068
}

.rock{
    background-color: #b8a038;
}

.bug{
    background-color: #a8b820;
}

.ghost{
    background-color: #705898;
}

.steel{
    background-color: #b8b8d0;
}

.fire{
    background-color: #ee8328
}

.water{
    background-color: #6890f0;
}

.electric{
    background-color: #f8d030}

.psychic{
    background-color: #f85888;
}

.ice{
    background-color: #98d8d8;
}

.dragon{
    background-color: #7038f8;
}

.dark{
    background-color: #705848;
}

.grass{
    background-color: #78c850;
}

.fairy{
    background-color: #ffb7fa;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    object-fit: cover;
    width:100%;
    height:100%;
    filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
    margin: 0;
    padding: 0;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f22394df-9a75-4771-8225-ea50370155c7/d4mh7q5-25a47434-05e7-413b-9934-7c555ab034e8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2YyMjM5NGRmLTlhNzUtNDc3MS04MjI1LWVhNTAzNzAxNTVjN1wvZDRtaDdxNS0yNWE0NzQzNC0wNWU3LTQxM2ItOTkzNC03YzU1NWFiMDM0ZTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.o5MBcxD2GF6ZtvOpSmq2UBuRQ7wTjHLNgYN2f8AOyUU');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .type-container h2{
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
.card .back .type-container .img-types img{
    height: 50px;
}
.card .back .type-container .img-types{
    position: relative;
    height: 30px;
    color: #000;
    bottom: -190px;
}

.card .back .type-container p{
    position: relative;
    bottom: -200px;
    color: #000;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}
