.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    height: 30px;
}

.button-arrow{
    cursor: pointer;
    padding: 10px;
    border-radius: 200%;
    border: none;
    background-color: #e52521;
}
.left{
    transform: rotate(180deg);
}

label{
    font-size:30px ; 
    margin-left: 10px;
    margin-right: 10px;
}