.detail-container{
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-detail{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 19px;
    grid-row-gap: 14px;
    }
    
    .name-container { 
        background-color: #e62e1b;
        grid-area: 1 / 1 / 2 / 5; }
    .weigth-container { grid-area: 2 / 3 / 3 / 4; }
    .height-containe { grid-area: 2 / 4 / 3 / 5; }
    .atrib-container { grid-area: 3 / 3 / 5 / 5; }
    .id-container { grid-area: 5 / 1 / 6 / 5; }
    .types-container { grid-area: 3 / 1 / 5 / 3; }